---
http_interactions:
- request:
    method: post
    uri: https://region-a.geo-1.identity.hpcloudsvc.com:35357/v2.0/tokens
    body:
      encoding: UTF-8
      string: "{\"auth\":{\"passwordCredentials\":{\"username\":\"mike.hagedorn@hp.com\",\"password\":\"Sh3l6381\"},\"tenantName\":\"mike.hagedorn@hp.com-default-tenant\"}}"
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Cneonction:
      - close
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {"access": {
          "token": {
            "expires": "2014-03-27T04:07:17.317Z",
            "id": "HPAuth10_63aa99be4876c347cc8d2eafb5a36a82b28866309375430acf75b38c5ba3fd71",
            "tenant": {
              "id": "57457043554366",
              "name": "mike.hagedorn@hp.com-default-tenant"
            }
          },
          "user": {
            "id": "67005658604060",
            "name": "mike.hagedorn@hp.com",
            "otherAttributes": {"domainStatus": "enabled"},
            "roles": [
              {
                "id": "00000000004004",
                "serviceId": "100",
                "name": "domainuser"
              },
              {
                "id": "00000000004014",
                "serviceId": "150",
                "name": "cdn-admin",
                "tenantId": "57457043554366"
              },
              {
                "id": "74610560312285",
                "serviceId": "230",
                "name": "monitoring-user",
                "tenantId": "57457043554366"
              },
              {
                "id": "91643347410087",
                "serviceId": "240",
                "name": "dns-admin",
                "tenantId": "57457043554366"
              },
              {
                "id": "00000000004013",
                "serv[...]
